<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
   <Header xmlns="http://schemas.xmlsoap.org/soap/envelope/" xmlns:sch="http://itau.com.co/services/accounts/accountsdetailbydocument/v2/schemas" xmlns:sch1="http://itau.com.co/commoncannonical/v2/schemas" />
   <soapenv:Body xmlns:sch="http://itau.com.co/services/accounts/accountsdetailbydocument/v2/schemas" xmlns:sch1="http://itau.com.co/commoncannonical/v2/schemas">
      <ns:getAccountsDetailByDocumentResponse xmlns:ns="http://itau.com.co/services/accounts/accountsdetailbydocument/v2/schemas">
         <ns:HeaderResponse>
            <cmm2:MessageHeader xmlns:cmm2="http://itau.com.co/commoncannonical/v2/schemas">
               <cmm2:MessageKey>
                  <cmm2:integrationId>string</cmm2:integrationId>
                  <cmm2:requestVersion>string</cmm2:requestVersion>
                  <cmm2:requestUUID>e09296f3-8f44-47a0-92dd-6a21ce0ba6f1</cmm2:requestUUID>
               </cmm2:MessageKey>
               <cmm2:MessageInfo>
                  <cmm2:dateTime>2020-01-23T14:15:51.093-05:00</cmm2:dateTime>
                  <cmm2:systemId>string</cmm2:systemId>
                  <cmm2:originatorName>Portal</cmm2:originatorName>
                  <cmm2:originatorType>10</cmm2:originatorType>
                  <cmm2:terminalId>string</cmm2:terminalId>
                  <cmm2:terminalType>string</cmm2:terminalType>
                  <cmm2:bankIdType>string</cmm2:bankIdType>
                  <cmm2:bankId>string</cmm2:bankId>
                  <cmm2:trnType>string</cmm2:trnType>
               </cmm2:MessageInfo>
               <cmm2:TrnInfoList>
                  <cmm2:TrnInfo>
                     <cmm2:trnCode />
                     <cmm2:trnSrc>0020</cmm2:trnSrc>
                  </cmm2:TrnInfo>
               </cmm2:TrnInfoList>
            </cmm2:MessageHeader>
            <cmm2:Status xmlns:cmm2="http://itau.com.co/commoncannonical/v2/schemas">
               <cmm2:statusCode>150</cmm2:statusCode>
               <cmm2:serverStatusCode />
               <cmm2:severity>Error</cmm2:severity>
               <cmm2:statusDesc>Error General en OSB</cmm2:statusDesc>
               <cmm2:AdditionalStatus>
                  <cmm2:statusCode>382505</cmm2:statusCode>
                  <cmm2:serverStatusCode />
                  <cmm2:severity>Error</cmm2:severity>
                  <cmm2:statusDesc>REASON: OSB Validate action failed validation - DEATIL: Invalid date value: FECHAFECHA</cmm2:statusDesc>
               </cmm2:AdditionalStatus>
            </cmm2:Status>
         </ns:HeaderResponse>
      </ns:getAccountsDetailByDocumentResponse>
   </soapenv:Body>
</soapenv:Envelope>